:root {
  --primary-color: #11396f;
  --contrast-color: gold;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #16171d;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  border: 0;  
   background-color: #b3d1fe;
    background-image:
        linear-gradient(90deg, rgba(255,255,255,.2) 50%, transparent 50%),
        linear-gradient(rgba(255,255,255,.2) 50%, transparent 50%);
    background-size: 3px 3px; /* Adjust size for finer/coarser texture */
}