:root {
  --primary-color: #11396f;
  --contrast-color: gold;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #16171d;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  border: 0;  
  background: radial-gradient(circle at top, #b2d5f8, #9ac2fe);
}